<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Changed Password</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body class="max-w-[1000px] mx-auto mt-14 px-4">
    <h1 class="text-center text-xl md:text-2xl font-bold text-green-500">Your Password changed successful!</h1>
    <h1 class="text-center text-lg md:text-xl font-semibold ">Back to <a class="text-orange-400 font-normal hover:text-black" href="{% url "dashboard" %}">Dashboard</a></h1>
</body>
</html>