{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/output.css" %}">
</head>
<body>
    <div class="p-4">
        {% comment %}
        {% for emp in tasks %}
            <p>{{emp.name}}</p>
            {% for tsk in emp.tasks.all %}
                <li class="font-bold"> {{tsk.title}}</li>
            {% endfor %}
        {% endfor %}
        {% endcomment %}

        {% comment %} <p class="text-2lx">{{cnt_task.total_cnt}}</p> 

        {% for project in projects %}
            <p>{{project.name}}</p>
            <b>{{project.task_cnt}}</b>
        {% endfor %}
        {% endcomment %}
        <hr>
        {% for task in tasks %} <li>{{task.id}} -- {{task.title}}</li> <p>{{task.details.priority}}</p>{% endfor %}
        <hr>
    </div>
</body>
</html>