{% extends "base.html" %}
{% block content %}
<div class="max-w-[800px] mx-auto p-10">
    <h1 class="text-center font-semibold mb-6 text-2xl text-orange-300">Register your account</h1>
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
            <p>
                <label for="{{field.id_for_label}}">{{field.label}}</label>
                {{field}}

                {% if field.errors %}
                    <ul>
                        {% for error in field.errors %}
                            <li>{{error}}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </p>
        {% endfor %}
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <li>{{error}}</li>
            {% endfor %}
        {% endif %}
        <button class="w-80 bg-black p-2 border rounded-md text-white mt-2" type="submit" value="Submit">Submit</button>
    </form>
</div>
{% endblock content %}